		body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 450px;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
		#map{
			margin-top:10px !important;
			height:500px;
		}
        .lorem {
            font-style: italic;
            color: #AAA;
        }
		.tl {
			padding-bottom: 3px;
		}
		/*.tl-none {
			color:white;
			background-color:white;
		}
		.tl-success {
			color:#5cb85c;
			background-color:#5cb85c;
		}
		.tl-danger {
			color:#d9534f;
			background-color:#d9534f;
		}
		.tl-warning {
			color:orange;
			background-color:orange;
		}*/
		.categories{
			box-shadow: 0 1px 5px rgba(0,0,0,0.4);
			padding-left:10px;
			margin-bottom:14px;
			margin-right:1px;
		}
		.analysis-btn{
			top:10px;
			left: 50px;
			position: absolute;
			z-index:5000
		}
		.dropdown-submenu {
			position: relative;
			z-index:5000
		}

		.dropdown-submenu>.dropdown-menu {
			top: 0;
			left: 100%;
			z-index:5000;
			margin-top: -6px;
			margin-left: -1px;
			-webkit-border-radius: 0 6px 6px 6px;
			-moz-border-radius: 0 6px 6px;
			border-radius: 0 6px 6px 6px;
		}

		.dropdown-submenu:hover>.dropdown-menu {
			display: block;
		}

		.dropdown-submenu>a:after {
			display: block;
			content: " ";
			float: right;
			width: 0;
			height: 0;
			z-index:5000;
			border-color: transparent;
			border-style: solid;
			border-width: 5px 0 5px 5px;
			border-left-color: #ccc;
			margin-top: 5px;
			margin-right: -10px;
		}

		.dropdown-submenu:hover>a:after {
			border-left-color: #fff;
		}

		.dropdown-submenu.pull-left {
			float: none;
			z-index:5000;
		}

		.dropdown-submenu.pull-left>.dropdown-menu {
			left: -100%;
			z-index:5000;
			margin-left: 10px;
			-webkit-border-radius: 6px 0 6px 6px;
			-moz-border-radius: 6px 0 6px 6px;
			border-radius: 6px 0 6px 6px;
		}
		
		#icon-print {
			padding-left: 10px;
			cursor: pointer;
		}
